.article-content{
    align-items: center;
    background-color: $black;
    display: flex;
    height: 100%;
    width: 100%;
    
    &--white{
        background-color: $white;
    }
    @include device-small{
        &--size{
       //     margin-top: 290px;
        }
    }
  
}
.heading{
    font-size: $ft-medium;
    color: $golden;
    text-align: center;
    margin: 40px 0;
}
.picture{
    border: 1px solid $golden;
    height: 300px;
    width: 80%;
    &--black{
        border:1px solid $black;
    }
}

.description{
    color: $white;
    font-size: $ft-base;
    margin-top: 10px;
    padding-top: 10px;
    text-align: justify;
    &--black{
        color: $black;
    }

}
.orders{
    order: 2;
    @include device-medium{
        &--first-picture{
            order: 0;
        }
    }
}

