.blocks-add-content{
    align-items: center;
    background-color: $black;
    display: flex;
    height: 100%;
    width: 100%;
    //font-family: 'Cormorant', serif;
    font-family: 'Bellefair', serif;
    &--white{
        background-color: $white;
    }
    @include device-small{
        
        
    }
    &__label{
        color: $golden;
        font-size: $ft-base*2;
        padding-top: 40px;
        //font-family: 'Cormorant', serif;
        font-family: 'Bellefair', serif;
        font-style: italic;
        @include device-small{
            padding-top: 20px;
        }
    }
}
.block{
    border: 1px solid $white;
    color: $white;
    padding: 60px;
    text-align: center;
   // text-transform: uppercase;
    width: 50%;
    font-size: $ft-base + 8px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    &--golden{
        border: 1px solid $golden;
    }
    @include device-small{
       
    }
  &:hover{
      font-size: 0px;
      color: $golden;
      
  }
  &:hover::after{
      content: attr(data-hover);
      font-size: $ft-base + 8px;
      
      font-weight: bold;
      
      
  }
}
