.footer{
    align-items: center;
    background-color: $white;
    display: flex;
    //font-family: 'Cormorant', serif;
    font-family: 'Bellefair', serif;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    
&__contact{
    color: $golden;
    font-size: $ft-medium;
    font-style: italic;
    @include device-small{
        font-size: $ft-base+10px;
    }
}

&__divider{
    height: 1px;
    background-color: $golden;
    width: 100%;

}
&__name{
    //font-weight: bold;
    font-size: 30px;
    
    @include device-small{
        font-size:22px ;
        margin-bottom: 6px;
    }
}
&__specialist{
color: $golden;
font-size: 24px;
@include device-small{
    font-size:17px ;
    margin-bottom: 6px;
}
}
&__phone{
color: $golden;
font-size: 22px;
@include device-small{
    font-weight: bold;
    font-size:18px ;
}
}
&__social-media{
    text-align: center;
    color: $golden ;
    font-size: $ft-medium;
    font-style: italic;
    @include device-small{
        font-size: $ft-base+10px;
    }
}
&--column{
    display: flex;
    flex-direction: column;
}
}
.icon-social-media{
    height: 150px;
    display: flex;
    font-size: 60px;
    
    &__graphic{
        color: $golden;
        transform: scale(1);
            transition: color .3s ease-in, transform .3s ease-in;
        &:hover{
            color: $black;
            transform: scale(1.07);
            transition: color .3s ease-in, transform .3s ease-in;
        }
        
        &--right{
            justify-content: right;
        }
        &--left{
            justify-content: left;
        }
    }
    
}