html { 
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color:$golden $black ;
  }
  .madame{
    background: url(/images/main-photo1.jpg) no-repeat center center fixed;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    
  }
  

.header{
  width: 100%;
  color: $white;
  font-family: 'Bellefair', serif;
  font-style:normal;
  //font-weight: 800;
  
}
  
.list{
  text-transform: uppercase;
  list-style: none;
  
  &__label{
    color: #5b584f;
    // #5b584f
    display: flex;
    justify-content: end;
    text-align: end;
    margin-bottom: 14px;
    margin-right:-4px ;
    text-transform:none;
    //font-family: 'Cormorant', serif;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-style: italic;

    

    @include device-small{
      margin-bottom: 24px;
      padding-left: 0px;
    }
    &--animation-first{
      background: linear-gradient(to right, $golden 20%, #5b584f 40%  );
      background-size: 200% auto;
      //color: #000;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
      animation: shine 2s linear;
      animation-iteration-count:1;
    }
    &--animation-second{
      background: linear-gradient(to right, $golden 20%, #5b584f 40%  );
      background-size: 200% auto;
      //color: #000;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
      animation: shine 2s linear;
      animation-iteration-count:1;
      animation-delay: .5s;
    }
    &--animation-third{
      background: linear-gradient(to right, $golden 20%, #5b584f 40%  );
      background-size: 200% auto;
      //color: #000;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
      animation: shine 2s linear;
      animation-iteration-count:1;
      animation-delay: .8s;
    }
    &--animation-fourth{
      background: linear-gradient(to right, $golden 20%, #5b584f 40%  );
      background-size: 200% auto;
      //color: #000;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
      animation: shine 2s linear;
      animation-iteration-count:1;
      animation-delay: 1.2s;
    }
  }
  &__relay{
    color: $golden;
    text-decoration: none;
    font-size: $ft-base+6px;
    &:hover{
      color: $white;
      transition: color .2s ease;
    }
    @include device-small{
      font-size: $ft-base;
    }
    &--revers{
      color: $golden;
      &:hover{
        color: $black;
      }
    }
  }
  @include device-medium{
    &--font64{
      font-size: $ft-base * 4;
    } 
    &--font46{
      font-size: ($ft-base+7px) * 2;
    }
    &--font48{
      font-size: $ft-base * 3;
    }
    &--font50{
      font-size: ($ft-base+9px) * 2;
    }
    &--font60{
      font-size: ($ft-base+14px) * 2;
    }
  }


  @include device-small{
    
    &--font20{
      font-size: $ft-base + 3px;
    }
    &--font22{
      font-size: $ft-base + 5px;
    }
    &--font24{
      font-size: $ft-base + 7px;
    }
    &--font26{
      font-size: $ft-base + 8px;
    } 
    &--font19{
      font-size: $ft-base + 3px;
    } 
  
    &--font18{
      font-size: $ft-base + 2px;
    }
  }
  
}

.header-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include device-small{
    font-size: $ft-small + 2px;
  }

}
.label-content{
  width: 100%;
  margin-top: 100px;

  @include device-small{
    margin-top: 80px;
  }
}
.label-position{
  height: 100vh;
  align-items: center;
  @include device-small{
   // padding: 80px 0px;
   height: 770px;
  }
  @media (max-height:667px) {
    height: 620px;
  }
}
.position-end{
  @include device-medium{
        display: flex;
        justify-content: end;
  }
}
.logo{
  width: 10%;
  @include device-small{
    width: 100px; 
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}