.form{
    width: 100%;
    background-color: $white;
    margin-top: 100px;
    border: 1px solid $golden;
    padding: 30px;
    @include device-small{
        margin-top: 0px;
        border: none;
        padding: 0px;
    }
    
}
.main-form-signin{
 //  border: 1px solid $golden;
   justify-content: space-between;
   @include device-small{
       border: none;
   }
}
.input-form{
    color: $golden;
    background: $white;
    width: 100%;
    border: 1px solid $golden;
    margin: 18px 0px;
    padding: 14px 0px 10px 3px;
    font-size: $ft-base;
    @include device-small{
        padding: 10px 0px 10px 3px;
        font-size: $ft-base;
        margin: 18px 0px;
        
    }
    &--center-text{
        text-align: center;
    }
    
}
.date-pack{
    display: flex;
    justify-content: space-between;
    @include device-medium{
        margin-bottom: 46px;
    }
    
}
.information-text-form{
    color: $golden;
    flex-direction: column;
    font-size: $ft-base*1.2;
    text-align: center;
    margin: 12px 0px;
    padding-bottom: 10px;
    @include device-small{
        margin-top: 24px;
    }
    
    &__header{
        font-weight: bold;
        @include device-medium{
            font-size: $ft-base+24px;
            margin-top: 20px;
        }
        font-size: $ft-medium;
    }
    &--bold-labels{
        color: $golden;
        border-bottom: 1px solid $golden;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: $ft-base*1.3;
        margin-top: 30px;
        @include device-small{
            margin-top: 24px;
            padding-bottom: 4px;
        }
    }
    &__description{
        @include device-medium{
            font-size: $ft-medium - 8px;
        }
    }
}
.dropdown-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color:$white;
    color: $golden;
    border: 2px solid $golden;
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 8px ;
    font-size: $ft-base;
    margin-bottom:20px ;
    @include device-small{
        width: 100%;
    }
}
.syrius-black{
    background: $white;
}