body {
  margin: 0px; }

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .o-col--sm1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm2 {
      flex: 0 0 16.666666%;
      max-width: 16.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm3 {
      flex: 0 0 25%;
      max-width: 25%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm5 {
      flex: 0 0 41.666666%;
      max-width: 41.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm6 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm8 {
      flex: 0 0 66.666666%;
      max-width: 66.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm9 {
      flex: 0 0 75%;
      max-width: 75%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm11 {
      flex: 0 0 91.666666%;
      max-width: 91.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (max-width: 768px) {
    .o-col--sm12 {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md2 {
      flex: 0 0 16.666666%;
      max-width: 16.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md3 {
      flex: 0 0 25%;
      max-width: 25%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md5 {
      flex: 0 0 41.666666%;
      max-width: 41.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md6 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md8 {
      flex: 0 0 66.666666%;
      max-width: 66.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md9 {
      flex: 0 0 75%;
      max-width: 75%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md11 {
      flex: 0 0 91.666666%;
      max-width: 91.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 768px) {
    .o-col--md12 {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg2 {
      flex: 0 0 16.666666%;
      max-width: 16.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg3 {
      flex: 0 0 25%;
      max-width: 25%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg5 {
      flex: 0 0 41.666666%;
      max-width: 41.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg6 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg8 {
      flex: 0 0 66.666666%;
      max-width: 66.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg9 {
      flex: 0 0 75%;
      max-width: 75%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg11 {
      flex: 0 0 91.666666%;
      max-width: 91.666666%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }
  @media (min-width: 992px) {
    .o-col--lg12 {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box; } }

.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1140px;
  box-sizing: border-box; }

.o-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box; }

.o-content-flex {
  display: flex;
  justify-content: center; }
  @media (max-width: 768px) {
    .o-content-flex--small2 {
      display: flex;
      justify-content: center; }
    .o-content-flex--small {
      flex-direction: column; } }
  @media (min-width: 768px) {
    .o-content-flex--medium {
      display: flex;
      justify-content: center; } }
  .o-content-flex--items {
    align-items: center; }

.o-text-center {
  text-align: center; }

@media (min-width: 768px) {
  .o-content-flex-md {
    display: flex;
    justify-content: center; } }

.o-content-margin {
  margin: 100px 0; }
  .o-content-margin--medium-top60 {
    margin-top: 60px; }
  .o-content-margin--medium-top30 {
    margin-top: 30px; }
  .o-content-margin--medium-top140 {
    margin-top: 140px; }
  .o-content-margin--all-mar60 {
    margin: 60px 0px; }
  .o-content-margin--all-bottom-10 {
    margin-bottom: 10px; }
  @media (max-width: 768px) {
    .o-content-margin--20 {
      margin-bottom: 20px; }
    .o-content-margin--180 {
      margin-top: 50px; }
    .o-content-margin--40 {
      margin: 40px 0px; } }
  .o-content-margin--30 {
    margin-bottom: 30px; }

.o-content-revert-margin {
  margin: 0px -15px; }

.o-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.c-main-button {
  background: black;
  border: 1px solid #A77956;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-family: 'Bellefair', serif;
  height: 50px;
  padding: 0px 50px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  transition: border .3s ease-out, background .3s ease-in; }
  @media (max-width: 768px) {
    .c-main-button {
      width: 80%;
      font-size: 14px;
      height: 40px;
      padding: 0px 20px; } }
  .c-main-button__ingallery {
    background: white;
    color: #A77956;
    border: 1px solid #A77956; }
    .c-main-button__ingallery:hover {
      background: #A77956;
      color: white;
      border: 2px solid white !important; }
    @media (min-width: 768px) {
      .c-main-button__ingallery {
        width: 30%; } }
    .c-main-button__ingallery--popup-save {
      width: 50%;
      height: 35px; }
  .c-main-button--signin {
    background: black;
    border: 3px solid #A77956;
    width: 55%;
    font-size: 16px;
    opacity: 0.7;
    border-radius: 30px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    margin: 40px 0px; }
    @media (max-width: 768px) {
      .c-main-button--signin {
        margin: 18px 0px; } }
    .c-main-button--signin:hover {
      background-color: white;
      transition: background-color .75s ease-out; }
  .c-main-button:hover {
    border: 2px solid black;
    transition: border .3s ease-out, background .3s ease-in; }
  .c-main-button--gallery {
    background: white;
    border: 1px solid #A77956;
    border-radius: 0px;
    color: #A77956;
    font-size: 14px;
    height: 50px;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Bellefair', serif;
    transition: background .5s ease-out; }
    @media (max-width: 768px) {
      .c-main-button--gallery {
        width: 80%;
        font-size: 14px;
        height: 40px; } }
    .c-main-button--gallery:hover {
      background: #A77956;
      border: 1px solid white;
      color: white;
      transition: background .3s ease-out; }

.c-decoration {
  text-decoration: none;
  color: white; }
  .c-decoration--change-color {
    color: #A77956; }

.floating-btn {
  width: 70px;
  height: 70px;
  background: black;
  border: 2px solid #A77956;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: #A77956;
  font-size: 41px;
  position: fixed;
  right: 15px;
  bottom: 20px;
  outline: none; }
  .floating-btn:hover {
    cursor: pointer;
    background: #A77956;
    color: black;
    transition: background .3s ease; }
  @media (max-width: 768px) {
    .floating-btn {
      width: 65px;
      height: 65px;
      font-size: 32px;
      box-shadow: 1px 1px 3px #A77956; } }
  .floating-btn__up {
    width: 70px;
    height: 70px;
    background: black;
    border: 2px solid #A77956;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: #A77956;
    font-size: 41px;
    position: fixed;
    right: 15px;
    bottom: 100px;
    outline: none; }
    .floating-btn__up:hover {
      cursor: pointer;
      background: #A77956;
      color: black;
      transition: background .3s ease; }
    @media (max-width: 768px) {
      .floating-btn__up {
        width: 65px;
        height: 65px;
        font-size: 32px;
        box-shadow: 1px 1px 3px #A77956; } }
    .floating-btn__up--home {
      bottom: 20px; }
    .floating-btn__up--background-reverse {
      background: white;
      color: black; }

.decoration-none {
  text-decoration: none; }

.profile-section {
  margin-top: 60px;
  width: 100%;
  padding: 90px; }
  @media (max-width: 768px) {
    .profile-section {
      padding: 0px 50px; } }
  .profile-section__photo {
    width: 100%; }
    .profile-section__photo--circle {
      border-radius: 100%;
      border: 2px solid #A77956;
      padding: 0px; }
      @media (max-width: 768px) {
        .profile-section__photo--circle {
          width: 100%; } }
  .profile-section__describe {
    color: #A77956;
    text-align: center;
    align-items: center;
    font-size: 20px;
    justify-content: end; }
  .profile-section__label {
    font-size: 40px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .profile-section__label {
        font-size: 26px;
        margin-top: 30px; } }
  .profile-section__icons {
    color: #A77956;
    font-size: 16px;
    justify-content: space-evenly; }
    @media (max-width: 768px) {
      .profile-section__icons {
        font-size: 18px; } }

.profile-box {
  width: 100%;
  border: 1px solid #A77956;
  margin-top: 60px;
  width: 100%;
  padding: 90px; }
  @media (max-width: 768px) {
    .profile-box {
      border: none;
      padding: 0px; } }

.profile-photo {
  width: 100%;
  padding: 0px; }
  .profile-photo--size {
    width: 100%;
    border: 1px solid #A77956; }

.profile-describe {
  text-align: center;
  font-size: 20px;
  color: #A77956;
  font-family: 'Bellefair', serif;
  font-style: italic; }
  @media (max-width: 768px) {
    .profile-describe {
      font-size: 17px; } }

.about-label {
  font-size: 36px;
  margin-bottom: 30px;
  color: #A77956;
  font-family: 'Bellefair', serif; }
  @media (max-width: 768px) {
    .about-label {
      margin: 30px 0px; } }

.icons-box {
  margin-top: 10px;
  font-size: 32px;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: #A77956;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1);
  transition: color .3s ease-in-out, transform .3s ease-in-out; }
  .icons-box--size {
    height: 100%;
    font-size: 48px;
    margin-top: 40px; }
  .icons-box:hover {
    color: black;
    transform: scale(1.1);
    transition: color .3s ease-in-out, transform .3s ease-in-out; }

.section-photo-cert {
  margin-top: 20px;
  padding: 0px;
  display: none; }
  .section-photo-cert--size {
    border-radius: 2px solid #A77956;
    border-radius: 20px;
    width: 50vh; }
    @media (max-width: 768px) {
      .section-photo-cert--size {
        width: 100%; } }

.article-content {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100%;
  width: 100%; }
  .article-content--white {
    background-color: white; }

.heading {
  font-size: 32px;
  color: #A77956;
  text-align: center;
  margin: 40px 0;
  font-family: 'Bellefair', serif;
  font-style: italic; }

.picture {
  border: 1px solid #A77956; }
  .picture--black {
    border: 1px solid black; }
  @media (min-width: 768px) {
    .picture {
      height: 300px; } }

.description {
  color: white;
  font-size: 18px;
  margin-top: 10px;
  padding-top: 10px;
  text-align: justify;
  font-family: 'Bellefair', serif; }
  .description--black {
    color: black; }

.orders {
  order: 2; }
  @media (min-width: 768px) {
    .orders--first-picture {
      order: 0; } }

.img-size {
  width: 100%;
  height: 100%; }

.blocks-add-content {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Bellefair', serif; }
  .blocks-add-content--white {
    background-color: white; }
  .blocks-add-content__label {
    color: #A77956;
    font-size: 32px;
    padding-top: 40px;
    font-family: 'Bellefair', serif;
    font-style: italic; }
    @media (max-width: 768px) {
      .blocks-add-content__label {
        padding-top: 20px; } }

.block {
  border: 1px solid white;
  color: white;
  padding: 60px;
  text-align: center;
  width: 50%;
  font-size: 24px;
  white-space: nowrap;
  display: flex;
  justify-content: center; }
  .block--golden {
    border: 1px solid #A77956; }
  .block:hover {
    font-size: 0px;
    color: #A77956; }
  .block:hover::after {
    content: attr(data-hover);
    font-size: 24px;
    font-weight: bold; }

.footer {
  align-items: center;
  background-color: white;
  display: flex;
  font-family: 'Bellefair', serif;
  height: 100%;
  width: 100%;
  padding-top: 80px; }
  .footer__contact {
    color: #A77956;
    font-size: 32px;
    font-style: italic; }
    @media (max-width: 768px) {
      .footer__contact {
        font-size: 26px; } }
  .footer__divider {
    height: 1px;
    background-color: #A77956;
    width: 100%; }
  .footer__name {
    font-size: 30px; }
    @media (max-width: 768px) {
      .footer__name {
        font-size: 22px;
        margin-bottom: 6px; } }
  .footer__specialist {
    color: #A77956;
    font-size: 24px; }
    @media (max-width: 768px) {
      .footer__specialist {
        font-size: 17px;
        margin-bottom: 6px; } }
  .footer__phone {
    color: #A77956;
    font-size: 22px; }
    @media (max-width: 768px) {
      .footer__phone {
        font-weight: bold;
        font-size: 18px; } }
  .footer__social-media {
    text-align: center;
    color: #A77956;
    font-size: 32px;
    font-style: italic; }
    @media (max-width: 768px) {
      .footer__social-media {
        font-size: 26px; } }
  .footer--column {
    display: flex;
    flex-direction: column; }

.icon-social-media {
  height: 150px;
  display: flex;
  font-size: 60px; }
  .icon-social-media__graphic {
    color: #A77956;
    transform: scale(1);
    transition: color .3s ease-in, transform .3s ease-in; }
    .icon-social-media__graphic:hover {
      color: black;
      transform: scale(1.07);
      transition: color .3s ease-in, transform .3s ease-in; }
    .icon-social-media__graphic--right {
      justify-content: right; }
    .icon-social-media__graphic--left {
      justify-content: left; }

.pp-box {
  display: flex;
  padding: 60px 0px; }
  @media (max-width: 768px) {
    .pp-box {
      flex-direction: column; } }

@media (min-width: 768px) {
  .photo-box {
    margin-bottom: 20px; } }

.photo-title {
  color: white;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Bellefair', serif;
  font-style: italic; }
  @media (max-width: 768px) {
    .photo-title {
      margin-top: 20px; } }
  .photo-title--reverse {
    color: #A77956; }

.photo-circle {
  border-radius: 200px;
  border: 5px solid #A77956; }

.description-photo-section {
  color: white;
  text-align: center;
  font-family: 'Bellefair', serif; }
  .description-photo-section__title {
    font-size: 40px; }
    .description-photo-section__title--revers {
      color: #A77956; }
  .description-photo-section__text {
    font-size: 20px; }
    .description-photo-section__text--revers {
      color: #A77956; }
  .description-photo-section--margin {
    margin-top: 30px; }
    @media (max-width: 768px) {
      .description-photo-section--margin {
        margin: 30px 0px; } }

.picture-style {
  border-radius: 12px;
  opacity: 0.5; }
  .picture-style:hover {
    opacity: 1; }
  .picture-style__size {
    width: 100%; }
    @media (max-width: 768px) {
      .picture-style__size {
        width: 100%; } }

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #A77956 black; }

.madame {
  background: url(/images/main-photo1.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.header {
  width: 100%;
  color: white;
  font-family: 'Bellefair', serif;
  font-style: normal; }

.list {
  text-transform: uppercase;
  list-style: none; }
  .list__label {
    color: #5b584f;
    display: flex;
    justify-content: end;
    text-align: end;
    margin-bottom: 14px;
    margin-right: -4px;
    text-transform: none;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-style: italic; }
    @media (max-width: 768px) {
      .list__label {
        margin-bottom: 24px;
        padding-left: 0px; } }
    .list__label--animation-first {
      background: linear-gradient(to right, #A77956 20%, #5b584f 40%);
      background-size: 200% auto;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 2s linear;
      animation-iteration-count: 1; }
    .list__label--animation-second {
      background: linear-gradient(to right, #A77956 20%, #5b584f 40%);
      background-size: 200% auto;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 2s linear;
      animation-iteration-count: 1;
      animation-delay: .5s; }
    .list__label--animation-third {
      background: linear-gradient(to right, #A77956 20%, #5b584f 40%);
      background-size: 200% auto;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 2s linear;
      animation-iteration-count: 1;
      animation-delay: .8s; }
    .list__label--animation-fourth {
      background: linear-gradient(to right, #A77956 20%, #5b584f 40%);
      background-size: 200% auto;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 2s linear;
      animation-iteration-count: 1;
      animation-delay: 1.2s; }
  .list__relay {
    color: #A77956;
    text-decoration: none;
    font-size: 22px; }
    .list__relay:hover {
      color: white;
      transition: color .2s ease; }
    @media (max-width: 768px) {
      .list__relay {
        font-size: 16px; } }
    .list__relay--revers {
      color: #A77956; }
      .list__relay--revers:hover {
        color: black; }
  @media (min-width: 768px) {
    .list--font64 {
      font-size: 64px; }
    .list--font46 {
      font-size: 46px; }
    .list--font48 {
      font-size: 48px; }
    .list--font50 {
      font-size: 50px; }
    .list--font60 {
      font-size: 60px; } }
  @media (max-width: 768px) {
    .list--font20 {
      font-size: 19px; }
    .list--font22 {
      font-size: 21px; }
    .list--font24 {
      font-size: 23px; }
    .list--font26 {
      font-size: 24px; }
    .list--font19 {
      font-size: 19px; }
    .list--font18 {
      font-size: 18px; } }

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media (max-width: 768px) {
    .header-row {
      font-size: 14px; } }

.label-content {
  width: 100%;
  margin-top: 100px; }
  @media (max-width: 768px) {
    .label-content {
      margin-top: 80px; } }

.label-position {
  height: 100vh;
  align-items: center; }
  @media (max-width: 768px) {
    .label-position {
      height: 770px; } }
  @media (max-height: 667px) {
    .label-position {
      height: 620px; } }

@media (min-width: 768px) {
  .position-end {
    display: flex;
    justify-content: end; } }

.logo {
  width: 10%; }
  @media (max-width: 768px) {
    .logo {
      width: 100px; } }

@keyframes shine {
  to {
    background-position: 200% center; } }

.offer-information {
  flex-direction: column;
  margin-top: 200px;
  width: 100%;
  font-family: 'Bellefair', serif; }
  @media (max-width: 768px) {
    .offer-information {
      margin-top: 40px; } }
  .offer-information--smalldesc {
    margin-top: 40px;
    color: #A77956;
    font-size: 26px;
    text-align: center; }
    @media (max-width: 768px) {
      .offer-information--smalldesc {
        font-size: 19px; } }

.offer-section-name {
  color: #A77956;
  display: flex;
  font-size: 48px;
  justify-content: center;
  text-align: center; }

.offer-box {
  margin: 100px 0px; }

.dropdown-list {
  background-color: white;
  color: #A77956;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 1px solid #A77956;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  text-align: center;
  font-family: 'Bellefair', serif; }

.active, .dropdown-list:hover {
  background-color: #A77956;
  color: white; }

.dropdown-list:after {
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px; }

.options {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden; }

.ul-list {
  text-decoration: none;
  list-style: none;
  color: #A77956;
  font-size: 20px;
  padding-left: 0px;
  margin: 20px 0px;
  font-family: 'Bellefair', serif; }
  @media (max-width: 768px) {
    .ul-list {
      font-size: 16px; } }
  .ul-list--text {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px; }
  .ul-list--name {
    display: flex;
    justify-content: left;
    margin-top: 40px; }
    @media (max-width: 768px) {
      .ul-list--name {
        margin-top: 20px; } }
  .ul-list--cost {
    display: flex;
    font-style: italic;
    justify-content: right;
    margin-top: 40px;
    font-size: 18px; }
    @media (max-width: 768px) {
      .ul-list--cost {
        margin-top: 20px; } }

.form {
  width: 100%;
  background-color: white;
  margin-top: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;
  font-family: 'Bellefair', serif; }
  @media (max-width: 768px) {
    .form {
      margin-top: 0px;
      border: none;
      padding: 0px; } }

.main-form-signin {
  justify-content: space-between; }
  @media (max-width: 768px) {
    .main-form-signin {
      border: none; } }

.input-form {
  color: #A77956;
  background: white;
  width: 100%;
  border: none;
  outline: none;
  margin: 18px 0px;
  padding: 14px 0px 10px 3px;
  font-size: 16px;
  font-family: 'Bellefair', serif;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1);
  transition: transform .4s ease; }
  .input-form:focus {
    transform: scale(1.08);
    transition: transform .4s ease; }
  @media (max-width: 768px) {
    .input-form {
      padding: 10px 0px 10px 3px;
      font-size: 16px;
      margin: 18px 0px;
      width: 80%; } }
  .input-form--center-text {
    text-align: center; }

.date-pack {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .date-pack {
      margin-bottom: 46px; } }

.information-text-form {
  color: #A77956;
  flex-direction: column;
  font-size: 19.2px;
  text-align: center;
  margin: 12px 0px;
  padding-bottom: 10px;
  text-align: center; }
  @media (max-width: 768px) {
    .information-text-form {
      margin-top: 24px; } }
  .information-text-form__header {
    font-size: 32px; }
    @media (min-width: 768px) {
      .information-text-form__header {
        font-size: 40px;
        margin-top: 20px; } }
  .information-text-form--bold-labels {
    color: #A77956;
    border-bottom: 1px solid #A77956;
    margin-bottom: 20px;
    font-size: 20.8px;
    margin-top: 30px; }
    @media (max-width: 768px) {
      .information-text-form--bold-labels {
        margin-top: 24px;
        padding-bottom: 4px; } }
  @media (min-width: 768px) {
    .information-text-form__description {
      font-size: 24px; } }

.dropdown-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  color: #A77956;
  border: 1px solid #A77956;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Cormorant', serif;
  outline: none; }
  @media (max-width: 768px) {
    .dropdown-select {
      width: 100%; } }

.syrius-black {
  background: white; }

.popup-unseen {
  display: none; }

.popup-visible {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: white;
  width: 60%;
  padding: 6px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  @media (max-width: 768px) {
    .popup-visible {
      width: 80%; } }

.popup-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19.2px;
  font-family: 'Bellefair', serif;
  color: #A77956;
  padding-top: 6px; }
  .popup-text__summary {
    padding-top: 2px; }
    .popup-text__summary--font {
      font-size: 26px;
      font-style: italic; }
    .popup-text__summary--cancel-info {
      padding: 20px 0px;
      font-size: 16px; }
  .popup-text__save {
    padding: 12px 0px; }
  .popup-text--term-label {
    border-bottom: 1px solid #A77956; }

.popup-text-calendar {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bellefair', serif; }
  .popup-text-calendar--date {
    font-size: 26px;
    padding: 2px 0px; }
  .popup-text-calendar--time {
    font-size: 22px;
    padding: 2px 0px; }

.circle-exit {
  display: flex;
  justify-content: center;
  transition: color .1s ease, transform .1s ease; }
  .circle-exit:hover {
    color: #494949;
    transform: scale(1.2);
    transition: color .1s ease, transform .1s ease; }

.popup-code-verify-form {
  display: flex;
  justify-content: center;
  padding-top: 8px; }

.popup-code-input {
  height: 60px;
  margin: 0px 4px;
  border: 2px solid #A77956;
  font-size: 26px;
  text-align: center;
  font-family: 'Bellefair', serif;
  color: #A77956;
  transition: border .3s ease, color .3s ease; }
  .popup-code-input:focus {
    border: 2px solid black;
    color: black;
    transition: border .3s ease, color .3s ease; }

.popup-calendar-position {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 12px 0px; }
  .popup-calendar-position--unseen {
    display: none; }
  .popup-calendar-position--visible {
    display: flex; }

.popup-calendar-days {
  padding: 12px;
  border: 1px solid #A77956;
  width: 100%;
  text-align: center;
  color: #A77956;
  transition: background-color .4s ease; }
  .popup-calendar-days:hover {
    background-color: #A77956;
    cursor: pointer;
    color: white;
    transition: background-color .4s ease; }
  @media (min-width: 768px) {
    .popup-calendar-days {
      margin: 0px 20px; } }

.unseen {
  display: none; }

.more {
  transition: transform .2s ease; }
  .more:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s ease; }

.position-right-exit {
  display: flex;
  justify-content: right;
  padding: 5px;
  font-size: 20px; }

.blur {
  filter: blur(3px); }

.position-accept {
  text-align: center;
  padding-top: 10px; }

.positive {
  color: green;
  font-size: 34px;
  padding: 10px 0px; }

.fa-check {
  border: 2px solid green;
  border-radius: 50%;
  padding: 5px;
  animation: scale 1s infinite; }

.fa-times {
  padding: 3px;
  font-size: 25px !important; }
  .fa-times:hover {
    animation: pivot 1s infinite; }

.fa-list-alt {
  padding-left: 8px; }

.fa-mobile {
  padding-left: 10px;
  animation: calling 2s infinite;
  font-size: 40px !important; }

.fa-arrow-down {
  padding-right: 4px; }

@keyframes calling {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(10deg); }
  40% {
    transform: rotate(-10deg); }
  60% {
    transform: rotate(10deg); }
  80% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes pivot {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
