// INPUTS , BUTTON , HEADING , CORNERS
.c-main-button{
    background: black;
    border: 1px solid $golden;
    border-radius: 30px;
    color: $white;
    font-size: $ft-base;
    //font-family: 'Cormorant', serif;
    font-family: 'Bellefair', serif;
    height: 50px;
    padding: 0px 50px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    transition: border .3s ease-out, background .3s ease-in;
    
    @include device-small{
        width: 80%;
        font-size: $ft-base - 2px;
        height: 40px;
        padding: 0px 20px;
    }
    &__ingallery{
        background: $white;
        color: $golden;
        border: 1px solid $golden;
        
        &:hover{
            background: $golden;
            color: $white;
            border: 2px solid $white !important ;
            
           
        }
        @include device-medium{
            width: 30%;
        }
        &--popup-save{
            width: 50%;
            height: 35px;
        }

    }
    &--signin{
        background: black;
        border: 3px solid $golden;
        width: 55%;
        font-size: $ft-base;
        opacity: 0.7;   
        border-radius: 30px;
        height: 40px;
        color: $white;
        text-transform: uppercase;
        margin: 40px 0px;
        @include device-small{
            margin: 18px 0px;
        }
    &:hover{
        background-color: $white ;
        transition: background-color .75s ease-out;
    }
    }
    &:hover{
        border: 2px solid $black;
        transition: border .3s ease-out, background .3s ease-in;
        
    }
    &--gallery{
        background: $white;
        border: 1px solid $golden;
        border-radius: 0px;
        color: $golden;
        font-size: $ft-base - 2px;
        height: 50px;    
        text-transform: uppercase;
        width: 100%; 
        //font-family: 'Cormorant', serif; 
        font-family: 'Bellefair', serif;
        transition: background .5s ease-out ;
        @include device-small{
            width: 80%;
            font-size: $ft-base - 2px;
            height: 40px;
        }  
        &:hover{
            background: $golden;
            border: 1px solid $white;
            color: $white;
            transition: background .3s ease-out ;
        }
    }
}
.c-decoration{
    text-decoration: none;
    color: $white;
    &--change-color{
        color: $golden;
    }
}
.floating-btn{
    width: 70px;
    height: 70px;
    background: $black;
    border: 2px solid $golden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: $golden;
    font-size: $ft-base+25px;
    position: fixed;
    right: 15px;
    bottom: 20px;
    outline: none;
    &:hover{
        cursor: pointer;
        background: $golden;
        color: $black;
        transition: background .3s ease;
    }
    @include device-small{
        width: 65px;
        height: 65px;
        font-size: $ft-base*2;
        box-shadow: 1px 1px 3px $golden;
    }
    &__up{
        width: 70px;
    height: 70px;
    background: $black;
    border: 2px solid $golden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: $golden;
    font-size: $ft-base+25px;
    position: fixed;
    right: 15px;
    bottom: 100px;
    outline: none;
    &:hover{
        cursor: pointer;
        background: $golden;
        color: $black;
        transition: background .3s ease;
    }
    @include device-small{
        width: 65px;
        height: 65px;
        font-size: $ft-base*2;
        box-shadow: 1px 1px 3px $golden;
    }
    &--home{
        bottom: 20px;
    }
    &--background-reverse{
        background:$white ;
        color:$black ;
    }
    }
}
.decoration-none{
    text-decoration: none;
}